html,body{overflow:hidden;box-sizing: border-box;height:100%;}
body { margin: 0; -webkit-text-size-adjust: 100%; color:#eee; }
#react-app{
  height:100vh;
  width:100vw;
  position:relative;
  background-color: fade(black, 70%)
}
.header, .footer, .content{
  position:absolute; width: 100%; left:0;
  &.fixed{
    background-image: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.7));
  }
}
.header{ top:0; height:@header-height;}
.footer{ bottom:0; height:@footer-height;}
.content{
  top:0;
  bottom:0;
  [role=main]{
    height: 100vh;
  }
  &.with-footer{
    bottom:@footer-height;
    [role=main]{
      height: ~"calc(100vh - @{footer-height})";
    }
  }
  &.with-header{
    top:@header-height;
    [role=main]{
      height: ~"calc(100vh - @{header-height})";
    }
  }
  &.with-header.with-footer{
    [role=main]{
      height: ~"calc(100vh - @{header-footer-height})";
    }
  }
}
.fixed{position:fixed !important;}
.scroll-y, .scroll-x{-webkit-overflow-scrolling: touch;}
.scroll-y{overflow-y:auto;height:100%}
.scroll-x{overflow-x:auto;min-width:100%}
.react-flex.responsive{
  flex-basis:100%;
}
h4{margin:0;}

.responsive{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &.center{
    justify-content: center;
  }
  max-width: 639px;
  margin: auto 2%;
  > .panel{
    margin-bottom: 1rem;
    width: 99%;
    max-width: 99%;
  }
  > .box{
    flex:1;
    max-width: 150px;
    padding:0;
    > div{
      -webkit-backface-visibility: visible; /* Chrome, Safari, Opera */
     	backface-visibility: visible;
    }
  }
}
.centered-loader{
  position:absolute;
  left:50%;
  transform: translate(-50%,0);
}
.tag-cloud{
  max-width:310px;
  -moz-column-width: 150px;
  -webkit-column-width: 150px;
  column-width: 150px;
  margin:auto 10px;
  // column-count: 2;
  // -webkit-column-count: 2;
  a{
      // min-width:40%;
      // margin:5%;
      // padding:5%
  }
}
@media (min-width:640px){
  .responsive{
    max-width: 1000px;
    margin: auto;
    > .item{
      flex:1;
      flex-basis:auto;
      width: 47%;
      max-width: 47%;
      &:nth-child(odd){
        margin-left: 1.5%;
      }
      &:nth-child(even){
        margin-right: 1.5%;
      }
    }
  }
  .tag-cloud{
    max-width:640px;
    -moz-column-width: 210px;
    -webkit-column-width: 210px;
    column-width: 210px;
  }
}
@media (min-width:768px){

}
@media (min-width:960px){
  .tag-cloud{
    max-width:800px;
    -moz-column-width: 190px;
    -webkit-column-width: 190px;
    column-width: 190px;
  }
}

@media (min-width:1280px){
  .tag-cloud{
    max-width:1080px;
    -moz-column-width: 190px;
    -webkit-column-width: 190px;
    column-width: 190px;
  }
}
