.main-font-family{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
   .main-font-family;
   font-weight: 300;
   h1,h1,h3,h4,h5,h6{
     .main-font-family;
   }
   h1,h2,h3{
     font-weight:100;
     small{
       font-size:.5em;
     }
   }
}

.block{
  display:block
}

.valign-center{
  display:flex;
  align-items:center;
  margin:.3rem auto;
  .Avatar{
    margin-right:.5rem;
    border-radius:0;
    background-color: transparent !important;
  }
}
