@import './variables.import.less';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400');
@import './colors.import.less';
@import './articles.import.less';
@import './layout.import.less';
@import '/imports/ui/components/MainMenu.less';

.tag-cloud{
  margin:auto;
  text-align: center;
  column-gap: 1px;
  -webkit-column-gap: 1px;
  > a{
    display: inline-block;
    width:100%;
    background-image:radial-gradient(
        ellipse at center,
        fade(white, 30%),
        fade(white, 5%)
    );
    border: 1px fade(white, 10%) solid;
    box-sizing: border-box;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    padding: 30px;
    margin:1px auto auto auto;
  }
}
body {
    .main-font-family;
    font-weight: 300;
    margin: auto;
    box-sizing: border-box;
    h1,h2,h3,h4,h5,h6 {
        font-family: Audiowide;
        font-weight: 300;
        color: @lighter-blue;

        small {
            .main-font-family;
            font-size: 40%;
        }
        &.staggered-name{
          text-transform: uppercase;
          margin:2rem auto;
        }
    }
    h1,h2 {
        font-style: normal;
        font-variant: normal;
        font-weight: 100;
        margin: auto;
    }
}

.glowing-line {
    border: 0;
    height: 1px;
    max-width: 300px;
    border-width: 0;
    background-image: linear-gradient(to right, fade(@blue, 0), fade(@blue, 75%), fade(@blue, 0));
    margin-top:5px;
    display: block;
    transform: scale3d(0,0,1);
    transition:all 350ms ease-in-out;
    opacity:1;
    &:after{
      position:absolute;
      left:0;
      right:0;
      width:100%;
      content:" ";
      height:1px;
      display: block;
      opacity:0;
      transform: scale3d(0,0,1);
      transition:all 250ms ease-in-out;
      background-image: linear-gradient(to right, fade(@blue, 75%), fade(@blue, 0%), fade(@blue, 75%));
    }
    &.hovering{
      background:transparent;
      &:after{
        transform: scale3d(1,1,1);
        opacity:1;
      }
    }
}
.bottom-box{
  margin-top: 20%;
  > .react-flex{
    justify-content: center;
    align-items: center;
    a{
      display: block;
      font-family: Audiowide;
      text-align: center;
      font-size: 1rem;
      text-decoration: none;
      margin:1%;
      > div{
        height: 100%;
        border:2px solid rgba(0,0,0,.5);
        border-right-width:1px;
        border-left-width:1px;
        background-color: fade(white, 4%);
        transition: background-color 230ms ease-in;
        &:hover{
          background-color: fade(@lightest-cyan, 10%);
        }
        span{
          display: block;
          min-height: 40px;
          line-height: 40px;
          text-transform: uppercase;
          transition: color 230ms ease-in;
        }
        hr{
          position: absolute;
          margin: 0;
          left:0;
          right: 0;
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
a{
  color: @darker-orange;
  text-decoration: none;
  &:hover{
    color: @orange;
  }
}
