[submodule "packages/meteor-react-router-ssr"]
	path = packages/meteor-react-router-ssr
	url = https://github.com/jasonnathan/meteor-react-router-ssr
[submodule "packages/inject-data"]
	path = packages/inject-data
	url = https://github.com/rigconfig/inject-data
